<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857380148290-6a0hts7mmfktf9tprkcfammfdegtjbm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857380148290-6a0hts7mmfktf9tprkcfammfdegtjbm3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857380148290-msot0go7sm4ug7tmdg0qrfm1i4im5nph.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMwQDLKUqLZskG_4QBWSU79RUCYeXclwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>857380148290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asia.homeid</string>
	<key>PROJECT_ID</key>
	<string>homeid-6f859</string>
	<key>STORAGE_BUCKET</key>
	<string>homeid-6f859.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857380148290:ios:86cb498a8a120de9fac9db</string>
	<key>DATABASE_URL</key>
	<string>https://homeid-6f859.firebaseio.com</string>
</dict>
</plist>