<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728365043840-ntj4nu08nefckr2sv2ijlv6mjgahnioh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728365043840-ntj4nu08nefckr2sv2ijlv6mjgahnioh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>728365043840-77epm0787athao5u5cipc410f4vdl84t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAr9RudDCXVfpc4YnMsXqmcwlw5XERHuXU</string>
	<key>GCM_SENDER_ID</key>
	<string>728365043840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.abahaglobal</string>
	<key>PROJECT_ID</key>
	<string>abaha-global</string>
	<key>STORAGE_BUCKET</key>
	<string>abaha-global.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728365043840:ios:50dc150b5c23de4ec61665</string>
</dict>
</plist>